@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


html, body {
    font-family: 'Poppins', sans-serif;
}


.container {
    margin: 0 auto;
    padding: 0 32px;
    max-width: 1440px;
}

/* Header */
.header {
    height: 800px;
    padding-top: 31px;
    background-image: url(./../img/header-bg.jpg);
    background-position: center center; 
    background-size: cover;

    border-radius: 0 0 54px 54px;

    color: #fff;
}

/* Nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    column-gap: 57px;
}

.nav-list__item {
    text-transform: capitalize;
}

.nav-list__link {
    color: rgb(255, 255, 255, 0.7);
} 

.nav-list__link--active {
    color: #fff;
}

/* user */
.user {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.user__content {
    font-size: 14px;
    line-height: 21px;
    color: rgb(255, 255, 255, 0.5);
}

.user__name {
    font-weight: 600;
    color: #fff;

}

.user__avatar {
    position: relative;
    height: 48px;
    width: 48px;
}

.user__avatar::after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 12px;
    width: 12px;
    content: "";
    background-color: #F00;
    border-radius: 50%;
}

.user__avatar-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;

}

/* Header content*/
.header__content {
}
.header__title {
}
.button {
}
