@media (max-width: 1230px) {
    .form {
        width: auto;
        height: auto;
    }

    .easepick-wrapper {
        z-index: 9;
    }

    .form__input--date {
        width: 200px;
    }

    .form__input--guests {
        width: 140px;
    }

    .form__input--activity {
        width: 180px;
    }
}


@media (max-width: 1139px) {

    .header {
        height: auto;
        min-height: 500px;
        border-radius: 0 0 40px 40px;
    }

    .container--header {
        justify-content: flex-start;
        row-gap: 90px;
    }

    .header__title {
        font-size: 32px;
    }

    .nav-list {
        display: none;
    }

    .nav-user{
        display: none;
    }

    .mobile-nav-btn {
        display: block;
    }
}

@media (max-width: 1040) {
    .form {
        width: auto;
        height: auto;
        flex-direction: column;
    }
}