 .custom-select-panel {
    font-size: 14px;
    top: calc(100% + 22px);
    background-color: $white;
    box-shadow: 0 5px 20px rgb(8 41 55 / 34%);
    border-radius: 0 0 8px 8px;

  }
  
  .custom-select-option {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }

  .custom-select-option.is-selected {
    font-weight: 600;

    &::before {
      content: none;
    }
  }

  .custom-select-option.has-focus {
    background-color: #ebe5f9;
  }

