.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    column-gap: 54px;
    font-size: 14px;
    font-weight: 300;
}

.nav-list__item {
    text-transform: capitalize;
}

.nav-list__link {
    color: rgb(255, 255, 255, 0.7);
    transition: color 0.2s ease-in;
} 

.nav-list__link:hover {
    color: #fff;
}