.nav-icon-wrapper {
    width: 30px;
    height: 30px; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.nav-icon {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: $white;
}

.nav-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    width: 30px;
    height: 5px;
    background-color: $white;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.nav-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
    width: 30px;
    height: 5px;
    background-color: $white;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.nav-icon.nav-icon--active {
    background-color: transparent;
}

.nav-icon.nav-icon--active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.nav-icon.nav-icon--active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/* Layout */

.mobile-nav-btn {
    z-index: 999;
    display: none;
}
