html, body {
    font-family: $font-main;
    color: $text-color;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 32px;

    &--header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}


.title-1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    color: #161414;
}


.main {
    display: grid;
    gap: 120px;
    padding: 120px 0;
}

.section__header {
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__cards {
    display: grid;
    gap: 32px;

    &--6-in-row {
        grid-template-columns: repeat(6, 1fr);
    }

    &--4-in-row {
        grid-template-columns: repeat(4, 1fr);
    }

    &--2-in-row {
        grid-template-columns: repeat(2, 1fr);
        
    }
}

.none {
    display: none;
}
