html, body {
    font-family: 'Poppins', sans-serif;
    color: #161414;
}

.title-1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    color: #161414;
}


// Grid 

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 32px;
}

.container--header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.main {
    display: grid;
    gap: 120px;
    padding: 120px 0;
}

.section__header {
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__cards {
    display: grid;
    gap: 32px;
}

.section__cards--6-in-row {
    grid-template-columns: repeat(6, 1fr);
}

.section__cards--4-in-row {
    grid-template-columns: repeat(4, 1fr);
}

.section__cards--2-in-row {
    grid-template-columns: repeat(2, 1fr);
    
}








.none {
    display: none;
}
