// Base
$font-main: 'Poppins', sans-serif;

// Colors
$text-color: #161414;
$text-btn-more: #5243C2;
$text-secondary: #5B5B5B;
$text-card-location: #979797;
$text-card-footer: #878787;
$text-user: rgb(255, 255, 255, 0.5);

$white: #fff;
$black: #000;
$avatar: #F00;

$btn-bg: #7B61FF;
$btn-more-bg: #F6F4FF;
$footer-bg: #F9F9F9;

$btn-hover: rgb(123, 97, 255, 0.7);
$btn-more-hover: #dcd8f1;
